@using System.Data.SqlClient
@model IEnumerable<POS.ProductManager.Models.Domain.Product>

@{
    ViewBag.Title = "Products";

}

<h2>@ViewBag.Title</h2>
<div class="well well-sm">
    @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { @class = "form-inline" }))
    {
        <fieldset>
            @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder="Search" })
            @*<input type="search" id="SearchString" name="SearchString" class="form-control" />*@
            <input type="submit" value="Search" class="btn btn-info" />
            <a href="@Url.Action("Index")">
                <input type="button" value="Reset" class="btn btn-default"/>
            </a>
            @*@Html.ActionLink("Reset", "Index", null, new { @class = "btn btn-default" })*@
        </fieldset>
    }
</div>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            <a href="@Url.Action("Index", new{sortOrder = ViewBag.NameSortParam})">
                @Html.DisplayNameFor(model => model.Name)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductStoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryStoreId)
        </th>
        <th>
            <a href="@Url.Action("Index", new { sortOrder = ViewBag.DateSortParm })">
                @Html.DisplayNameFor(model => model.Created)
            </a>
        </th>
        <th>
            <a href="@Url.Action("Create")">
                <i class="glyphicon glyphicon-plus-sign"
                   data-toggle="tooltip" data-placement="bottom" title="Add Product"></i>
            </a>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryStoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @*<a href="@Url.Action("Edit", new {id = item.ProductId})">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </a>
                    &nbsp;*@
                <a href="@Url.Action("Details", new {id = item.ProductId})">
                    <i class="glyphicon glyphicon-cog"
                       data-toggle="tooltip" data-placement="bottom" title="Details"></i>
                </a>
                &nbsp;
                <a href="@Url.Action("Delete", new {id = item.ProductId})">
                    <i class="glyphicon glyphicon-remove-circle"
                       data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
                </a>
            </td>
        </tr>
    }

</table>
