@model IEnumerable<POS.ProductManager.Models.Domain.Category>

@{
    ViewBag.Title = "Categories";
    
}

<h2>@ViewBag.Title</h2>

<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryStoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            <a href="@Url.Action("Create")" class="btn btn-info btn-sm">
                <i class="glyphicon glyphicon-plus-sign"
                   data-toggle="tooltip" data-placement="bottom" title="Add Category"></i>
            </a>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryStoreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @*<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>*@
            <a href="@Url.Action("Edit", new {id = item.CategoryId})">
                <i class="glyphicon glyphicon-edit"
                   data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
            </a>
            &nbsp;
            <a href="@Url.Action("Details", new { id = item.CategoryId })">
                <i class="glyphicon glyphicon-cog"
                    data-toggle="tooltip" data-placement="bottom" title="Details"></i>
            </a>
            &nbsp;
            <a href="@Url.Action("Delete", new { id = item.CategoryId })">
                <i class="glyphicon glyphicon-remove-circle"
                   data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
            </a>
        </td>
    </tr>
}

</table>
